body {
  background-color: var(--bgwhite);
  height: 100vh;
  width: 100%;
  display: flex;
}

.main_addTask {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--bgwhite);
  padding-left: 300px;
  height: 93%;
}

.right {
  border-left: 1px solid #c7c7c7;
  padding-left: 50px;
}

.AddTask_head {
  margin-top: 15%;
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 1%;
}

.addTaskForms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 50px;
  flex: 1;
}


.addTaskForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.addTaskForm span {
  color: red;
}

.addTaskForm input {
  background-image: url();
  width: 100%;
}

.addTaskForm textarea {
  width: 100%;
}

.assign_head,
.category_head,
.description_head,
.prio_head,
.date_head,
.title_head,
.subtasks_head {
  margin-top: 12px;
  margin-bottom: 8px;
}

#description {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 136px;
  width: 440px;
  background-color: white;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

textarea#description {
  height: 96px;
  width: 360px;
}

#description textarea::placeholder {
  color: var(--grey);
}

.btn_addTask_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  gap: 8px;
  cursor: pointer;
}

.btn_addTask {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  gap: 8px;
  padding: 16px 8px;
  height: 56px;
  width: 120px;
  border-radius: 10px;
}

.btn_addTask:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_gab img {
  margin-left: 8px;
}

/* Stil für das Dropdown-Menü */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Stil für aktiven Eintrag im Dropdown-Menü */
.dropdown_content li:hover {
  background-color: #ddd;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 12px;
  border: 2px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: var(--bgdarkblue);
  color: #ffff !important;
}

/* show_task_task the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show_task {
  display: block;
}

.selected {
  background-color: var(--bgdarkblue);
  /* Hier Ihre gewünschte Hintergrundfarbe einfügen */
  color: #ffff !important;
}

.arrow {
  position: absolute;
  top: 16px;
  left: 90%;
  transform: translateX(-50%);
  padding: 3px;
  cursor: pointer;
  color: #000 !important;
  height: 24px;
  width: 24px;
  background-image: url('/assets/img/arrowDropDown.svg');
}

.member_cicle {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  margin-right: 8px;
}

.arrow:hover {
  background-color: #dadada;
  border-radius: 50%;
}

.rotated {
  transform: rotate(180deg);
  left: 87%;
}

.create_clear_task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addTask_btns {
  display: flex;
  gap: 18px;
}

.create_clear_task span {
  color: red;
}

.addTask_btn {
  padding: 16px;
}

input[type='checkbox'] {
  width: 16px;
}

.dropdown_assign {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dropdown_list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 36px;
}

.category {
  position: relative;
  width: 100%;

}

.dropdown_category {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


.dropdown_content_category {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #ffffff;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content_category a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.dropdown_content_category a:hover {
  background-color: var(--bgdarkblue);
  color: #ffff !important;
  width: 90%;
}

.subtask_button_container {
  position: relative;
  top: 5px;
  width: 100%;
}

.subtaskIcons {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 20px;
}

.subtasklist_element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  font-size: 16px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}



@media(max-width: 1000px) {
  .main_addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgwhite);
    padding-left: 0px;
    width: 100%;
  }

.assign_head,
.category_head,
.description_head,
.prio_head,
.date_head,
.title_head,
.subtasks_head {
  margin-top: 12px;
  margin-bottom: 8px;
  width: 90%;
}
  .addTaskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .right {
    border-left: 1px solid #c7c7c7;
    padding-left: 0;
  }

  #AddTaskContainer {
    position: absolute;
    width: 100%;
    padding-bottom: 95px;
  }

  .dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 12px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .addTaskForm input {
    background-image: url();
    width: 90%;
  }

  #description {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 136px;
    width: 90% !important;
    background-color: white;
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  .addTaskForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 5px;

  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
  }

  .dropdown_content_category {
    display: none;
    position: absolute;
    top: px;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown_content_category a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .subtask_button_container {
    position: relative;
    top: 5px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .subtaskIcons {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 60px;
  }

  .dropdown_content_category a:hover {
    background-color: var(--bgdarkblue);
    color: #ffff !important;
    width: 90%;
  }

  .dropdown_category {
    width: 90%;
  }

  .btn_addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
    gap: 8px;
    padding: 16px 8px;
    height: 56px;
    width: 33%;
    border-radius: 10px;
  }
  .btn_addTask_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 8px;
    cursor: pointer;
}
  .create_clear_task {
    padding-right: 8px;
    padding-left: 8px;
  }

  .category {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width: 600px) {
  .AddTask_head {
    margin-top: 30%;
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 1%;
}
}