.container_display_flex{
    display: flex;
    justify-content: space-between;
}
body{
    overflow: hidden;
}

.contacts {
    background-color: white;
    width: 456px;
    height: 100vh;
    box-shadow: 4px 0px 6px 0px #00000014;
    margin-left: 232px;
    overflow-y: scroll;
    margin-top: 48px;
}

.add {
    background: rgba(42, 54, 71, 1);
    color: white;
    padding: 12px 0px 12px 0px;
    border-radius: 10px;
    border: 1px;
    gap: 16px;
    display: flex;
    width: 352px;
    height: 56px;
    align-items: center;
    justify-content: center;
    margin-left: 52px;
    margin-top: 22.5px;
}
.add:hover{
    background: rgba(41, 171, 226, 1);
}

.contact_list {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
    height: 928px;
    margin-top: 28px;
}

.contact_list h3 {
    width: 14px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.first_letter {
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    width: 352px;
    height: 58px;
    padding: 17px 36px 17px 36px;
    gap: 8px;
    display: flex;
    margin-bottom: 16px;
}

.persons {

    border-radius: 45px;
    gap: 10px;
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
}

#text {
    width: 121px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.person_initials {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    gap: 10px;
    background-color: lightgray;
    font-size: 12px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.persons_details {
    display: flex;
    gap: 35px;
    margin-top: 15px;
    margin-bottom: 21px;
}

.person_details {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.email {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
}

.better_team {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 73px;
    margin-top: 206px;
    margin-left: 55px;
    margin-right: 128px;
}

.better_team h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    border-right-style: solid;
    border-right-color:rgba(41, 171, 226, 1);
    padding-right: 30px;
    height: 70px;
}

.better_team h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;

}