body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
}
#navbarHeadIcon {
    display: none;
}

.font {
    margin-left: 328px;
    margin-bottom: 32px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    height: 73px;
    margin-top: 206px;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline img {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-right: 96px;
    margin-top: 129px;
}

.headline img:hover {
    border: groove 1px rgba(238, 238, 238, 1);
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 1);
    ;
}

.text ul {
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.text {
    margin-left: 328px;
    margin-right: 98px;
    margin-bottom: 70px;
}

.text h2 {
    font-size: 27px;
    line-height: 32.4px;
    margin-bottom: 16px;
    margin-top: 24px;
    font-weight: 700;
}

.text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 24px;
}

.text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.underline {
    font-size: 20px;
    line-height: 32.4px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
}

.text_line {
    margin-left: 328px;
    margin-right: 98px;
}

.text a {
    margin-right: 35px;
    margin-bottom: 29px;
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 700;
}

.text_line p {
    margin-top: 0px;
    margin-left: 60px;
    margin-left: 57px;
}

.number {
    margin-right: 35px;
    width: 21px;
    height: 32px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
    margin-bottom: 0px;
    margin-top: 16px;
}

.text_line h2 {
    margin-top: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end {
    margin-top: 60px;
    margin-bottom: 60px;
}

#navbarHeadIcon_help {
    display: none;
}




/* Mobile Version (Responsive)*/
@media(max-width:1000px) {
    .headline {
        margin-bottom: 32px;
        margin-top: 128px;
    }

    .font {
        margin-right: 31px;
        font-size: 47px;
        color: rgba(0, 0, 0, 1);
        margin-left: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .headline img {
        margin-right: 16px;
        margin-top: 0;
        width: 19px;
        height: 19px;
    }

    .text {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 100px;
    }
    .text_line{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 100px;
    }
    .text_line p{
        margin: 0;
    }
}