.container {
    background-color: var(--bgwhite);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.logo {
  position: absolute;
  top: 80px;
  left: 77px;
}

.sign_up {
  position: absolute;
  top: 67px;
  right: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 279px;
  height: 49px;
}

.sign_up span {
  font-size: 20px;
  font-weight: 400;
}

.button_grey {
  color: white;
  background-color: var(--bgdarkblue);
  font-size: 16px;
  border-radius: 8px;
  padding: 15px 16px 15px 16px;
  font-weight: bold;
}

.button_grey:hover {
  cursor: pointer;
}

.content {
  background-color: white;
  border-radius: 30px;
  width: 652px;
  height: 493px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
}

.line_break {
  height: 3px;
  width: 150px;
  background-color: var(--blue);
}

.input_area {}

.input_fields {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}