.container {
    background-color: var(--bgwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

.logo {
  position: absolute;
  top: 80px;
  left: 77px;
}

.sign_up {
  position: absolute;
  top: 67px;
  right: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 279px;
  height: 49px;
}

.sign_up span {
  font-size: 20px;
  font-weight: 400;
}

.btn_sign_up {
  color: white;
  background-color: var(--bgdarkblue);
  font-size: 16px;
  border-radius: 8px;
  padding: 15px 16px 15px 16px;
  font-weight: bold;
}

.btn_sign_up:hover {
  cursor: pointer;
}

.content {
  background-color: white;
  border-radius: 30px;
  width: 652px;
  height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
}

.line_break {
  height: 3px;
  width: 150px;
  background-color: var(--blue);
}

.input_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.input_fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input_fields input {
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px 21px 12px 21px;
  width: 422px;
}

.btns {
  display: flex;
  gap: 35px;
}

.btn_log_in {
  color: white;
  background-color: var(--bgdarkblue);
  font-size: 21px;
  border-radius: 8px;
  padding: 15px 24px 15px 24px;
  font-weight: bold;
}

.btn_guest_log_in {
  color: var(--bgdarkblue);
  background-color: white;
  font-size: 21px;
  border-radius: 8px;
  padding: 15px 24px 15px 24px;
  font-weight: bold;
}

.remember_me {
  margin-left: 39px;
}