* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: Inter;
  src: url(/Fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(/Fonts/opensans/OpenSans-Regular.ttf);
}

:root {
  --bgdarkblue: #2a3647;
  --bgwhite: #f6f7f8e7;
  --blue: #29abe2;
  --overlaybgwhite: #ffff;
  --grey: #d1d1d1;

  /* member-colors 
     compared to https://codepen.io/pavlovsk/pen/zYvbGKe 
     created by Richard Wezel                             */
  --mediumslateblue: #6e52ff;
  --blueviolet: #9327ff;
  --orange: #ff7a00;
  --violet: #fc71ff;
  --yellow: #ffbb2b;
  --turquoise: #1fd7c1;
  --darkslateblue: #462f8a;
  --red: #ff4646; /* taking color for new user */
  --deepskyblue: #00bee8;
}

.display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_direction_column {
  flex-direction: column;
}

.space_between {
  justify-content: space-between;
}

.text_center {
  text-align: center;
}

.d-none {
  display: none;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  transition: color 0.3 ease-in, transform 3.3s ease-in;
  border-radius: 8px;
  font-size: 21px;
}

button:hover {
  transform: scale(1.02);
}

.btn_grey {
  background-color: var(--bgdarkblue);
  color: white;
}

.btn_grey:hover {
  background-color: var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_transparent {
  background-color: white;
  color: var(--bgdarkblue);
  border: 1px solid var(--bgdarkblue) !important;
}

.btn_transparent:hover {
  color: var(--blue);
  border: 1px solid var(--blue) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="email"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/img/mail.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="date"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="password"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/img/lock.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/img/person.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="search"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/img/search.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
}

a {
  text-decoration: none;
  color: white;
  height: 100%;
}
