@font-face {
  font-family: Inter;
  src: url(/Fonts/Inter-VariableFont_slnt,wght.ttf);
} 
:root {
    --bgdarkblue: #2a3647;
    --bgwhite: #f6f7f8;
    --blue: #29abe2;
    --overlaybgwhite: #ffff;
    --mainfonts: url();
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  .center {
    display: flex;
    justify-content: center;
  }