.head_main_navbar {
    background-color: var(--bgwhite);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
#navbarHeadIcon {
    height: 2rem;
    padding: 4px;
}
.headnavbar_icon {
    gap: 1rem;
    position: relative;
    left: 15rem;
    /* position relative nochmals überarbeiten */
}
.sidebar {
    background-color: var(--bgdarkblue);
    height: 100vh;
    width: 232px;
    position: absolute;

}

.logo_sidebar {
    padding-top: 60px;
}


ul, ol {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}

.sidebar a {
    text-decoration: none;
    color: var(--bgwhite);
}

.sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
}

.sidebar li:hover {
    background-color: #39495f;
    cursor: pointer;
}

.section_sidebar {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgdarkblue);
}

.section_sidebar img {
    padding-right: 8px;
}

.sidebar_footer a:hover {
    color: var(--blue);
}

/* Aktives Element #091931 */