body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgwhite);
}

#register_successfull {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 24px 15px 24px;
  z-index: 200;
}

.container {
  position: relative;
  inset: 0;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 80px;
  left: 77px;
}

.sign_up_section {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  background-color: white;
  border-radius: 30px;
  padding: 48px 88px 48px 88px;
  gap: 32px;
  width: 598px;
  height: 630px;
}

.headline {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

hr {
  width: 150px;
  align-self: center;
  height: 3px;
  border: none;
  background-color: var(--blue);
  margin-left: 16px;
}

.input_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 422px;
  height: 327px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

form input {
  border-radius: 10px !important;
  border: 1px solid rgb(209, 209, 209) !important;
  padding: 12px 21px 12px 21px !important;
}

.accept_privacy_policy {
  gap: 8px;
}

#checkbox {
  transition: transform 0.3s ease-in;
  border-radius: 2px;
}

#checkbox:hover {
  transform: scale(1.05);
  border-color: var(--blue);
  border: solid 3px black;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.accept_privacy_policy p a {
  color: var(--blue);
}

.btn_sign_up {
  padding: 15px 24px 15px 24px;
    width: 126px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    margin-left: 150px;
    margin-top: 32px;
}

.legal_section {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 16px;
}

.link_wrapper {
  width: 110px;
  text-align: center;
}

.legal_section a {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.legal_section a:hover {
  font-weight: 700;
  color: var(--blue);
}
.headline a {
  height: 0;
  cursor: pointer;
  margin-bottom: 24px;
  position: relative;
  right: 120px;
}

@media (max-width:1000px){
  .sign_up_section{
    width: 396px;
    height: 595px;
    padding: 32px 0px 32px 0px;
  }
  .input_area{
    width: 364px;
    height: 296px;
    gap: 24px;
  }
}