body {
  height: 100vh;
  background-color: var(--bgwhite);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.container {
  margin-left: 328px;
  padding-top: 206px;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  width: 70%;
}

.header_section {
  display: flex;
  gap: 30px;
  align-items: center;
}

hr {
  background-color: var(--grey) !important;
  border: none;
  width: 3px;
  height: 59px;
}

.hr_blue {
  background-color: var(--blue) !important;
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 27px;
    font-weight: 400;
}

.summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.first_row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  /* height: 33%; */
  flex-grow: 1;
}

.first_row a {
  width: 50%;
}

.task_status {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  padding: 38px 19px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.task_status:hover {
  background-color: var(--bgdarkblue);
  color: white;
}

.task_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_amount {
  font-size: 64px;
  font-weight: 600;
}

#task_name {
  font-size: 20px;
  text-align: center;
}

.second_row {
  /* height: 33%; */
  flex-grow: 1;
}

.urgent_task {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  padding: 28px 48px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.urgent_task:hover {
  background-color: var(--bgdarkblue);
  color: white;
}

.urgent_task_status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

hr {
  background-color: #D1D1D1;
}

.urgent_task_date {
  font-size: 21px;
  font-weight: 700;
}

.urgent_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 13px;
}

.third_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 28px;
  height: 33%;
}

.third_row a {
  /* width: 33%; */
  flex-grow: 1;
}

.task {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 25px;
  color: black;
  height: 100%;
}

.task:hover {
  background-color: var(--bgdarkblue);
  color: white;
}

.welcome_message {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: 50%;
}

.welcome_message p {
  font-size: 47px;
  font-weight: 500;
}

.welcome_message p span {
  font-size: 64px;
  font-weight: 700;
  color: var(--blue);
}