<nav class="head_main_navbar center">
    <div>
        Kanban Project Management Tool
    </div>
    <div class="display_center headnavbar_icon">
        <div>?</div>
        <img id="navbarHeadIcon" src="/assets/templates/img/user_profile_default.svg" alt="">
    </div>
</nav>

<aside class="sidebar">
    <section class="section_sidebar">
        <img src="/assets/templates/img/join_logo_vector.svg" alt="" srcset="">
        <ul>
            <li>
                <img src="/img/summary_icon.svg" alt="">
                <a id="summary" href="#">Summary</a>
            </li>
            <li>
               <img src="/img/add_task_icon.svg" alt="">
               <a id="addTask" href="#">Add Task</a>
            </li>
            <li>
                <img src="/img/board_icon.svg" alt="">
                <a id="board" href="#">Board</a>
            </li>
            <li>
                <img src="/img/contacts_icon.svg" alt="">
                <a id="contact" href="#">Contacts</a>
            </li>
        </ul>
    
        <div class="sidebar_footer">
            <p>
                <a id="privacyPolicy" href="#">privacy policy</a>
            </p>
            <p>
                <a id="legalNotice" href="#">legal notice</a>
            </p>
        </div>
    </section>
   
</aside>