<div class="head_main_navbar">
    <div class="headnav_text">
        Kanban Project Management Tool
    </div>
    <div class=" headnavbar_icon">
        <img id="navbarHeadIcon_help" src="/assets/img/help.svg" alt="" href="help.html">
        <img id="navbarHeadIcon" src="/assets/img/user_profile_default.svg" alt="">
    </div>
</div>

<aside class="sidebar">
    <section class="section_sidebar" onclick="sidbarBackgroundColorChange()">
        <img class="logo_sidebar" src="/assets/img/join_logo_vector.svg" alt="" srcset="">
        
       
    <div class="side_navbar">

        <a class="side_navbar_section" id="summary" href="/summary.html">
            <img src="/assets/img/summary_icon.svg" alt="">
            <div>Summary</div>
        </a>
        <a class="side_navbar_section" id="addTask" href="/addTask.html">
            <img src="/assets/img/add_task_icon.svg" alt="">
            <div>Add Task</div>
        </a>

        <a class="side_navbar_section" id="board" href="/board.html">
            <img src="/assets/img/board_icon.svg" alt="">
            <div>Board</div>
        </a>
        <a class="side_navbar_section" id="conracts" href="/contacts.html">
            <img src="/assets/img/contacts_icon.svg" alt="">
            <div>Contacts</div>
        </a>
    </div>
    <div>
        <div class="sidebar_footer">
            <div>
                <a id="privacyPolicy" class="side_navbar_section" href="privacy_policy.html">Privacy policy</a>
            </div>
            <div>
                <a id="legalNotice" class="side_navbar_section" href="legal_notice.html">Legal notice</a>
            </div>
        </div>
        
    </div>

    </section>

</aside>