<nav class="head_main_navbar">
    <div>
        Kanban Project Management Tool
    </div>
    <div>
        <div>?</div>
        <img src="" alt="">
    </div>
</nav>

<aside class="sidebar">
    <img src="/assets/templates/img/logo.svg" alt="" srcset="">
    <ul>
        <li>
            <a href="#">Summary</a>
        </li>
        <li>
            <a href="#">Add Task</a>
        </li>
        <li>
            <a href="#">Board</a>
        </li>
        <li>
            <a href="#">Contacts</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#">privacy policy</a>
        </li>
        <li>
            <a href="#">legal notice</a>
        </li>
    </ul>
</aside>